/.clerk export-ignore
/.clerk/** export-ignore
/.vercel export-ignore
/.vercel/** export-ignore
/.stripe export-ignore
/.stripe/** export-ignore
/.neon export-ignore
/.neon/** export-ignore
/.supabase export-ignore
/.supabase/** export-ignore
/.wrangler export-ignore
/.wrangler/** export-ignore
/.env* export-ignore
/.env.example -export-ignore
/*.zip export-ignore
/*.tar export-ignore
/*.tgz export-ignore
/*.tar.gz export-ignore
/*.7z export-ignore
/*.rar export-ignore
